version: "3.9"

services:
  postgres:
    image: postgres:18.2
    container_name: postgres
    restart: unless-stopped

    ports:
      - "${POSTGRES_PORT}:5432"

    env_file:
      - ../../env/.env.shared
      - ../../env/.env.dev
      - ../../env/.env.secrets

    environment:
      PGDATA: /var/lib/postgresql/data/pgdata

    volumes:
      # External hard drive (bind mount)
      - /Volumes/Expansion/var/opt/pgsql:/var/lib/postgresql/data:rw

      # Config & init
      - ./postgres.conf:/etc/postgresql/postgresql.conf:ro
      - ./init:/docker-entrypoint-initdb.d:ro

    command: [ "postgres", "-c", "config_file=/etc/postgresql/postgresql.conf", "-c", "log_statement=${POSTGRES_LOG_STATEMENT:-none}", "-c", "log_min_duration_statement=${POSTGRES_LOG_MIN_DURATION:-1000}", "-c", "max_connections=${POSTGRES_MAX_CONNECTIONS:-200}", "-c", "log_connections=on", "-c", "log_disconnections=on" ]

    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 60s

    stop_grace_period: 120s

    networks:
      - project_network

    security_opt:
      - no-new-privileges:true

    shm_size: "512mb"

    logging:
      driver: json-file
      options:
        max-size: "100m"
        max-file: "5"

    deploy:
      resources:
        limits:
          cpus: "1.5"
          memory: 1G
        reservations:
          cpus: "0.5"
          memory: 512M

networks:
  project_network:
    driver: bridge

#    ipam:
#      config:
#        - subnet: 172.20.0.0/16
